$color:rgba(255, 254, 254, 0.849);
$hoverColor:rgb(135, 161, 182);

.rh-input-search {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 3px;

  input {
    border: none;
    width: 85%;
    height: 100%;
    outline-style: none;
    padding: 5px;
    font-size: 16px;
    background: transparent;
  }

  button {
    border: none;
    width: 15%;
    height: 100%;
    font-size: 20px;
    background: none;
    color: $color;
    font-weight: 300;
  }

  button:hover {
    color: $hoverColor;
  }
}