$min-height: 94vh;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.options-code {
  display: flex;
  padding: 3px;

  &-edit {
    flex: 1;
    min-height: $min-height;
    border-radius: 8px 0 0 8px;
    padding: 3px;
    position: relative;
    margin-right: 5px;

    .title {
      height: 8%;
      line-height: 1.8;
      padding-left: 10px;
      font-size: 14px;
      font-weight: bold;
      font-style: italic;
      font-family: Arial, Helvetica, sans-serif;
      border: 1px solid #000;
      border-bottom: none;
      overflow: hidden;
      border-radius: 6px 6px 0 0;
    }

    textarea {
      border-radius: 0 0 6px 6px;
      width: 100%;
      height: 100%;
      padding: 6px;

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 0 0 6px 6px;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        background: rgba(0, 0, 0, 0.2);
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 6px 6px;
        cursor: pointer;
        background: rgba(0, 0, 0, 0.1);
      }
    }

    &-html {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 49%;
    }

    &-css {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 49%;
      width: 100%;
    }

  }

  &-preview {

    flex: 2;
    min-height: $min-height;
    border-radius: 6px;
    background-color: red;

    &-show {
      border-radius: 6px;
      width: 100%;
      height: 100%;
      margin: 0;
      background-color: #fff;
    }
  }
}