/*
 * File: index.scss
 * Project: RH
 * Author: ruihuag
 * File Created: Monday, 26th July 2021 3:49:53 pm
 * Modified By: ruihuag
 * Last Modified: Monday, 26th July 2021 4:03:28 pm
 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.rh-deffStr {
  padding-top: 10px;

  &>div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;

    textarea {
      display: block;
      box-sizing: border-box;
      font-size: 16px;
      resize: none;
      overflow: hidden;
      height: 300px;
      padding: 5px;
      border-radius: 5px;
      background: #123;
      color: #fff;
    }
  }

  &>.btn {
    margin-top: 10px;
    margin-bottom: 20px;
    min-width: 100%;
    max-width: 99vw;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: #fff;

    &.compare {
      background-color: #6d6d6d;
    }

    &.equal {
      background-color: #39853d;
    }

    &.noEqual {
      background-color: #9b2d2d;
    }
  }
}