.panel-transform {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  textarea {
    font-size: 15px;
    color: #fff;
    letter-spacing: .8px;
    font-weight: 500;
    padding: 8px;
    outline: none;
    border-radius: 12px;
    min-height: 300px;
    resize: none;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 1px #333;
    border: none;
  }
}