.panel-countdown {
  color: #fff;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 12px;
  padding: 0 12px;

  div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 12px;
    padding: 4px 8px;
    background-color: transparent;
    outline: none;

    &[type=checkbox] {
      width: 18px;
    }
  }

  button {
    border: 1px solid #fff;
    color: #fff;
    border-radius: 12px;
    padding: 4px 8px;
    background-color: transparent;
    outline: none;
  }
}

// .au-time {}