* {
  box-sizing: border-box;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rh-popup-localhost-20220720083326 {

  &-header {
    @include flexCenter;
    margin: 10px auto;

    input,
    button {
      display: inline-block;
      padding: 5px 8px;
      outline-style: none;
      height: 35px;
      line-height: 35px;
      margin-left: 5px;
      font-size: 16px;
    }

    input {
      width: 40%;
      border: none;
      border-bottom: 1px solid;
    }

    button {
      @include flexCenter;
      font-weight: 700;
      border-radius: 3px;
      margin-left: 10px;
      background-color: rgb(0, 102, 255);
      border-color: rgb(0, 102, 255);
      color: #fff;
    }
  }

  &-port-item {
    display: inline-block;
    border: 1px solid rgb(196, 194, 194);
    padding-left: 12px;
    border-radius: 8px;
    cursor: pointer;
    width: auto;
    margin: 3px;
    font-size: 20px;
    font-weight: 600;

    &>span {
      display: inline-block;
      cursor: pointer;
      margin-left: 5px;
      padding: 8px;
      font-size: larger;
      color: #fff;
      background-color: rgb(192, 24, 24);
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}