.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  background: transparent;
  padding: 10px;
}
.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header-item {
  display: inline-block;
  background: transparent;
  cursor: pointer;
  color: #fff;
  padding: 6px 9px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 12px;
  font-weight: bold;

  &:hover,
  &:active,
  &.active {
    color: #61dafb;
  }
}

.content {
  padding: 10px;
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}