.rh-BreadCrumb-20220628031638 {

  font-size: 25px;
  font-weight: 500;
  width: 100%;
  border-bottom: 2px solid #a6a6a6;
  padding: 15px;

  &-name {
    color: #a6a6a6;
    cursor: pointer;

    &:last-child {
      color: #000;
    }
  }

  &-slash {
    color: #a6a6a6;
    padding: 0 5px;
  }
}