.rh-send-input-20220627090738 {
  padding: 8px;
  display: grid;
  grid-template-columns: 100px 1fr 80px;
  line-height: 50px;

  &-select {
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    border-right: none;
    background-color: #f2f2f2;
    border-color: #e6e6e6;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    outline-style: none;
  }

  &-input {
    font-size: 16px;
    padding: 10px;
    border: none;
    border: #e6e6e6 1px solid;
    border-radius: 0;
    background-color: #f2f2f2;
    outline-style: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }

  &-send {
    border: none;
    background-color: #097bed;
    border-radius: 8px;
    margin-left: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
}