$myColor: red;
$itemW: 100px;
$gap: 10px;
$w: $gap+7*($gap+$itemW);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-button {
    height: 0;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  }
}

%transition {
  transition: all .15s linear;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%bg-image {
  background: #0c1120;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

%common-padding-margin {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0;
  padding: 1px 2px;
}

%font {
  color: #8a96b9;
  word-break: keep-all;
  word-wrap: break-word;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.3;
  font-weight: 500;
  font-family: Arial,
    Helvetica,
    sans-serif;
}

%img {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  border-radius: 3px;
  margin-right: 5px;
}

.newTab {
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  @extend %bg-image;
  padding-left: 75px;
  width: 100%;
  @extend %transition;
  padding-top: 5px;
  column-count: 3;
  column-gap: 0;

  .rh-card {
    box-sizing: border-box;
    width: 100%;
    break-inside: avoid;
    display: inline-block;
    vertical-align: top;
    border-radius: 6px;
    padding: 0;
    height: auto;
    @extend %font;
    @extend %transition;
    // background: #647a9c linear-gradient(135deg, #2a9a9c, #130cb7);

    padding: 5px;

    &.Index {
      width: 100%;
      min-height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      width: 65px;
      border-radius: 0;
      background: #647a9c linear-gradient(135deg, #2e4cb8, #0d111f);
      margin-bottom: 10px;

      &:hover {
        height: 100%;
        padding: 0;
      }

      .rh-card-title {
        display: none;
      }


      .webContent-card-item {
        margin: 3px auto;
        color: rgb(189, 189, 189);
        padding: 9px 12px;
        background-color: rgba(#1d232e, .3);
        border-radius: 12px;
        box-sizing: content-box;
        font-size: larger;
        font-weight: bolder;
        width: 30px;

        img {
          width: 100%;
          height: 100%;
        }

        &:hover {
          color: #fff;
          background-color: rgba(#fff, .1);
          font-style: italic;
        }
      }
    }


    &:hover {
      padding: 5px;
      height: fit-content;
      background: #647a9c linear-gradient(135deg, #2a9a9c, #130cb7);

      .rh-card-title {
        color: #eee;
        text-shadow: 0 0px 2px #fff;
        font-style: italic;
      }


      .webContent-card-item {
        color: rgb(189, 189, 189);

        &:hover {
          color: #fff;
          font-style: italic;
          text-decoration: underline;
        }
      }
    }

    &-title {
      font-size: 18px;
      font-weight: 800;
      border: none;
      color: rgba($color: #fff, $alpha: .6);
      border-radius: 3px;
      font-style: oblique;
      cursor: default;
      margin-bottom: 4px;
    }

    &-content {
      display: flex;
      flex-wrap: wrap;
    }

    div.webContent-card-item {
      @extend %transition;
      @extend %common-padding-margin;
      @extend %font;
      overflow: hidden;
      border-radius: 12px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-right: 4px;
      padding-bottom: 4px;
      font-size: 12px;
      font-weight: bolder;
    }

  }

}