$myColor: red;
$itemW: 100px;
$gap: 10px;
$w: $gap+7*($gap+$itemW);



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-button {
    height: 0;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  }
}


%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%bg-image {
  background: #131417;
  background-image: url('./1140272.png');
  background-repeat: no-repeat;
  background-origin: border-box;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

%common-padding-margin {
  margin-right: 3px;
  margin-bottom: 4px;
  padding: 4px 6px 4px 4px;
}

%font {
  color: rgb(26, 194, 180);
  word-break: keep-all;
  word-wrap: break-word;
  cursor: pointer;
  font-size: 13px;
  line-height: 1.3;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

%img {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  border-radius: 3px;
  margin-right: 5px;
}

.newTab {
  @extend %flex-center;
  min-height: 100vh;
  padding: 20px 10px 30px;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  animation: all .3s ease-in-out;
  @extend %bg-image;

  .main-content {

    .webContent {
      display: grid;
      grid-template-columns: 5fr 2fr;
      grid-gap: 4px;
      width: 100%;

      .rh-card {
        display: inline-block;
        vertical-align: top;
        border-radius: 6px;
        @extend %font;
        transition: all .2s ease-in-out;
        background-color: rgba(#191555, .6);

        &-title {
          font-weight: 800;
          border: none;
          color: rgba($color: #fff, $alpha: .6);
          border-radius: 3px;
          font-style: oblique;
        }

        &-content {
          display: flex;
          flex-wrap: wrap;
        }

        .webContent-card-item {
          @extend %common-padding-margin;
          @extend %font;
          background-color: rgba(#0d46b1, .3);
          border-radius: 3px;
          border: 1px solid #0343bb;

          &-group {
            width: 100%;
            border: none;
            padding: 0;
            margin: 0;
            overflow: hidden;
            box-sizing: border-box;


            &>div {
              display: inline-block;
              // @extend %common-padding-margin;
              @extend %font;
              border-radius: 3px;
              padding: 4px 6px 4px 4px;
              margin-right: 3px;
              // background-color: rgba(#23375e, .3);
              background-color: rgba(#0d46b1, .2);
              border: 1px solid #015aff;

              &:hover {
                color: rgb(132, 0, 255);
                background-color: rgba(#1d232e, .9);
              }

            }

            &-title {
              border-radius: 3px;
              display: inline-block;
              padding: 4px 6px 4px 4px;
              margin-right: 3px;
              // @extend %common-padding-margin;
              cursor: default;
              @extend %font;
              background-color: #0d2d68;
              font-weight: 800;
              color: rgba($color: rgb(187, 243, 217), $alpha: .6);
              border: 1px solid #006958;
            }

            // img {
            //   @extend %img;
            // }

          }

          // img {
          //   @extend %img;
          // }

          &:last-child {
            margin-right: 0;
            margin-bottom: 0;
          }

          &:hover {
            color: rgb(196, 183, 255);
            background-color: rgba(#1d232e, .6);
          }
        }

      }

      &-left {
        column-count: 2;
        column-gap: 3px;

        .rh-card {
          width: 100%;
          margin-bottom: 3px;

          .webContent-card-item {
            font-size: 16px;
            font-weight: 300;
            font-style: italic;
          }
        }
      }
    }

    .rh-header {
      width: 100%;
      margin-bottom: 15px;
      margin-top: 15px;
    }

    .rh-input-search {
      margin: 30px auto 15px;
      width: 60vw;

      input {
        background-color: rgba($color: #000000, $alpha: 0);
        color: #fff;
      }
    }

    .search-setting {
      display: flex;
      justify-content: center;
      padding: 0;

      *>div {
        display: inline-block;
        color: #fff;
        height: 25px;
        line-height: 1.9;
        text-align: center;
        border-radius: 3px;
        margin-right: 3px;

        &:last-child {
          margin-right: 0;
        }
      }


      .rh-card-title {
        display: none;
      }

      .localhost {
        background-color: rgba(#58657c, .3);
        width: 50px;

        input {
          background-color: #282c34;
          border: none;
          font-size: 12px;
          color: #fff;
          padding: 5px;
          width: 100%;
          list-style: none;
          outline-style: none;
          border-radius: 3px;
          text-align: center;
        }

        &:hover {
          color: rgb(196, 183, 255);
        }
      }

      .rh-button-check {
        padding-left: 8px;
        background-color: #282c34;

        label {
          padding-right: 5px;
        }
      }
    }
  }
}