.rh-body-20220629032225 {
  &-header {
    border-bottom: 1px solid #eee;

    fieldset {
      border: none;

      label {
        display: inline-flex;
        height: 24px;
        line-height: 24px;

        span {
          padding: 0 6px;
        }
      }

    }
  }

  &-content {
    pre {
      overflow-x: hidden;
      word-break: break-all;
      padding: 5px;
      width: 100%;
      min-height: 100px;
      line-height: 20px;
      border: 1px solid;
      margin-bottom: 3px;
      font-size: 12px;
    }

    textarea {
      font-size: 12px;
      border: 1px solid;
      padding: 5px;
      width: 100%;
      min-height: 100px;
      line-height: 20px;
      resize: none;
      outline: none;
    }
  }
}