@import '../index.scss';

.select {
  position: relative;

  &:hover {
    &>div:first-of-type {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &>div:last-of-type {
      display: block;
    }
  }

  &>div {
    height: 100%;
    position: relative;

    &:first-of-type {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &>span {
        @include flex-center;
        width: 15px;
        height: 15px;
        line-height: 0.8;
        padding: 2px;
        border-radius: 50%;
        background-color: rgb(238, 238, 238);
        margin-right: 8px;
        color: #fff;
        cursor: pointer;
      }

      &>input {
        width: 100%;
        border: none;
        outline: none;
        padding: $control-padding;
      }

      border: $border;
      border-radius: $border;

    }

    &:last-of-type {
      width: 100%;
      position: absolute;
      display: none;
    }
  }
}

.option {
  padding: 5px 8px;
  width: 100%;
  border: $border;
  border-top: none;
  background-color: #fff;
  text-align: left;

  &:hover {
    background-color: #eee;

  }

  &:last-of-type {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}