.options-setting {

  &-holiday-setting {
    // background-color: red;

    &-item {
      display: flex;
      justify-items: left;
      align-items: center;
      font-size: 16px;
      color: #000;

      span {
        margin-right: 10px;
      }
    }

  }

}