.popup-qr-code {
  width: 100% !important;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: transparent;

  &-textarea-content {
    width: 95% !important;
    border: 1px solid #808080;
    border-radius: 5px;
    margin: 6px auto;
    background-color: transparent;
  }

  &-textarea {
    margin: 5px;
    overflow: hidden;
    font-size: 14px;
    line-height: 14px;
    outline: 0 none;
    resize: none;
    border: none;
    width: 98%;
    padding: 4px 5px;
    background-color: transparent;
    color: #eee;
  }

  &-code {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: transparent;
  }

  canvas {
    padding: 10px;
    background: #fff;
    border-radius: 12px;
  }
}